{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jest"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
    "rules": {
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": [
            "error", {
                "max": 1,
                "maxEOF": 1,
                "maxBOF": 0
            }
        ],
        "no-empty": ["error", {
            "allowEmptyCatch": true
        }]
    },
    "globals": {
        "module": true
    },
    "env": {
        "node": true,
        "browser": true,
        "jasmine": true,
        "jest": true
    }
}

