{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {},
    "globals": {
        "module": true
    },
    "env": {
        "node": true,
        "browser": true,
        "jasmine": true
    }
}