{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jest",
        "jsx-a11y",
        "cypress",
        "chai-friendly"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended"],
    "rules": {
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": [
            "error", {
                "max": 1,
                "maxEOF": 1,
                "maxBOF": 0
            }
        ],
        "no-empty": ["error", {
            "allowEmptyCatch": true
        }],
        "no-undef": "off",
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "jest/valid-expect": 0
    },
    "globals": {
        "module": true
    },
    "env": {
        "node": true,
        "browser": true,
        "jasmine": true,
        "jest": true,
        "cypress/globals": true
    }
}

