.styles-6ade8 {
  letter-spacing: 0.25rem;
  text-transform: uppercase; }

.styles-d5e72 {
  font-size: 2rem;
  color: firebrick;
  font-weight: bold;
  display: inline-block; }

.styles-16293 {
  width: 100%;
  height: auto;
  max-width: 250px; }

.styles-bcebd {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }

.styles-63394 {
  color: #999;
  font-size: 0.8rem; }

.styles-f27ce {
  display: block;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px; }

.styles-e6ab3 {
  color: white;
  background-color: rgba(255, 255, 255, 0.1); }

