
.styles-0e73d {
  padding: 2rem 2rem 2rem 2rem;
  background-image: url("//gfx.radiozet.pl/var/radiozet/storage/images/nauka-i-technologia/technologia/netflix-za-damo-polacy-piraca-dostep-do-serwisu/583922-1-pol-PL/Netflix-za-damo-Polacy-piraca-dostep-do-serwisu_article.jpg"); }

.styles-5b1e3 {
  position: fixed;
  bottom: 0;
  padding: 10px 15px;
  background: #000;
  left: 0px;
  right: 0px;
  z-index: 10; }


.styles-abaab {
  font-size: 1.2rem;
  color: orangered;
  display: inline-block;
  white-space: nowrap;
  word-break: keep-all;
  font-weight: bold;
  letter-spacing: 0.1rem; }

.styles-44608 {
  width: 100%; }
  .styles-44608 .styles-431fb {
    text-transform: uppercase; }
  .styles-44608 .styles-b4c49 {
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 0.25rem;
    color: white; }
  .styles-44608 .styles-2c7ae {
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .styles-44608 .styles-2c7ae > div::after {
      content: '';
      position: relative;
      height: 3px;
      width: 100%;
      display: block;
      top: -3px;
      background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.5)); }
    .styles-44608 .styles-2c7ae > div:not(:hover)::after {
      width: 0%;
      transition: all 300ms ease-out; }
    .styles-44608 .styles-2c7ae > div:hover::after {
      widows: 100%;
      transition: all 300ms ease-in; }
    .styles-44608 .styles-2c7ae > div .styles-46d2c {
      display: block;
      width: 100%;
      padding: 10px 5px 10px 5px;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0) 100%);
      border-radius: 0;
      border-width: 0 0 3px 0;
      border-style: solid;
      border-bottom-color: rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.8);
      transition: all 500ms ease-out;
      font-size: 1.3rem;
      font-weight: normal; }
      .styles-44608 .styles-2c7ae > div .styles-46d2c:focus {
        box-shadow: 0 0 0 0; }
    .styles-44608 .styles-2c7ae > div:hover .styles-46d2c {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 0, 0, 0) 100%);
      transition: all 500ms ease-in;
      color: white; }

.styles-8b990 .styles-8c819 {
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
  letter-spacing: 0.15rem; }

.styles-22417 {
  color: white; }
  .styles-22417:hover {
    color: #aaa; }


.styles-1494b {
  font-weight: bold; }

.styles-c0fdd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.0rem;
  font-weight: bold;
  color: #999;
  min-height: 400px; }

.styles-fdfb5 {
  position: absolute;
  background: #efefef;
  justify-content: center;
  align-items: center;
  z-index: 20;
  width: 200px;
  height: 300px; }

.styles-18c6f {
  width: 100%; }

.styles-5fc46 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid #dedede;
  width: 250px; }
  .styles-5fc46 .styles-68fc7 {
    width: 100%;
    height: 375px;
    max-height: 375px;
    overflow: hidden; }
    .styles-5fc46 .styles-68fc7 .styles-0f01f {
      width: 100%;
      height: auto; }

.styles-3e3be {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }
  .styles-3e3be .styles-402ca {
    width: 100%;
    height: 100%; }
    .styles-3e3be .styles-402ca .styles-492b6 {
      width: 100%;
      height: 100%; }

.styles-6f641 {
  padding: 10rem 0rem 0rem 0rem; }

.styles-b10e2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #272727; }
  .styles-b10e2 span {
    color: white;
    font-size: 5rem; }

.styles-8d10f {
  width: 5rem;
  height: 5rem;
  position: relative; }
  .styles-8d10f .styles-c1c5c,
  .styles-8d10f .styles-fe65c {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: styles-4fbe0 2.0s infinite ease-in-out;
    animation: styles-d31b7 2.0s infinite ease-in-out; }
  .styles-8d10f .styles-fe65c {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@keyframes blink {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.styles-97647 {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); }

