body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
    }
    * {
        box-sizing: border-box;
    }

    .font-open-sans {
        font-family: 'Open Sans', sans-serif;
    }

    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
}
