.result-item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #dedede;
    width: 250px;
    .result-item-image {
        width: 100%;
        height: 375px;
        max-height: 375px;
        overflow: hidden;
        .image {
            width: 100%;
            height: auto;
        }
    }
}
