.search-field {
    width: 100%;

    .text-uppercase {
        text-transform: uppercase;
    }
    .control-label {
        font-weight: bold;
        padding-bottom: 10px;
        letter-spacing: 0.25rem;
        color: white;
    }
    .form-group {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        &>div {
            &::after {
                content: '';
                position: relative;
                height: 3px;
                width: 100%;
                display: block;
                top: -3px;
                background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
            }
            &:not(:hover)::after {
                width: 0%;
                transition: all 300ms ease-out;
            }
            &:hover::after {
                widows: 100%;
                transition: all 300ms ease-in;
            }
            .form-control {
                display: block;
                width: 100%;
                padding: 10px 5px 10px 5px;
                background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 0, 0, 0) 100%);
                border-radius: 0;
                border-width: 0 0 3px 0;
                border-style: solid;
                border-bottom-color: rgba(255, 255, 255, 0.5);
                color: rgba(255, 255, 255, 0.8);
                transition: all 500ms ease-out;
                &:focus {
                    box-shadow: 0 0 0 0;
                }
                font-size: 1.3rem;
                font-weight: normal;
            }
            &:hover {
                .form-control {
                    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 0, 0, 0) 100%);
                    transition: all 500ms ease-in;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
