.results {
    .results-summary {
        background: #ccc;
        padding: 0.5rem;
    }
    .results-container {
        padding: 30px 20px;
    }
    .results-count {
        color: #151115;
    }
    .results-sort {
        color: #151115;
    }
}
