html, body {
    width: 100%;
    height: 100%;
    display: block;
}
.not-found {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #272727;
    span {
        color: white;
        font-size: 5rem;
    }
}
